<div class="row">

  <div class="col-md-5">
    <div class="pt-2" style="width: 18rem;">
      <div *ngFor="let item of recipeList; let i = index" class="pt-3" (click)="selectedRecipe(i)">
        <div class="card btn-light">
          <h3 class="card-title text-center title-color p-1"><strong>{{item.name}}</strong></h3>
          <div class="pl-3 pr-3">
            <div class="row center">
              <div class="col-md-6">
                <img [src]="item.image" width="50%" alt="image">
              </div>
              <div class="col-md-6">
                <img src="../../assets/image/veg.png" *ngIf="item.type == 'veg'" class="foodType" alt="{{item.type}}">
                <img src="../../assets/image/nonvag.png" *ngIf="item.type == 'non-veg'" class="foodType"
                  alt="{{item.type}}">
              </div>
            </div>
            <div class="pt-2">

              <h3 class="text-center p-1"> <img src="../../assets/image/chef.png" alt="{{item.chef}}"> <strong>
                  {{item.chef}} </strong></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7 pt-4" *ngIf="curruntRecipe">
    <div class="card btn-light" style="width: 25rem;">
      <h3 class="card-title text-center title-color p-1"><strong>{{curruntRecipe.name}}</strong></h3>
      <div class="pl-3 pr-3">
        <div>
          <img class="card-img-top" src="{{curruntRecipe.image}}" height="200px" width="100%" alt="image">
        </div>
        <div class="pt-2">
          <h3 class="text-center p-1"> <img src="../../assets/image/chef.png" alt="{{curruntRecipe.chef}}"> <strong>
              {{curruntRecipe.chef}} </strong></h3>

          <!-- <h4 class="text-center p-1"
            [ngStyle]="{'background-color':curruntRecipe.type === 'non-veg' ? 'red' : 'green' }">
            <strong> {{curruntRecipe.type}}
            </strong>
          </h4> -->
          <div class="row center">
            <div class="col-md-6">
              <img src="../../assets/image/veg.png" *ngIf="curruntRecipe.type == 'veg'" class="foodType"
                alt="{{curruntRecipe.type}}">
              <img src="../../assets/image/nonvag.png" *ngIf="curruntRecipe.type == 'non-veg'" class="foodType"
                alt="{{curruntRecipe.type}}">
            </div>
            <div class="col-md-6">
              <img src="../../assets/image/like/like.png" class="foodType" (click)="favoriteToggle(curruntRecipe.index)"
                *ngIf="curruntRecipe.like" alt="like">
              <img src="../../assets/image/like/heart.png" class="foodType"
                (click)="favoriteToggle(curruntRecipe.index)" *ngIf="!curruntRecipe.like" alt="like">
            </div>
          </div>
          <p class="p-3 card-text" title="Description">{{curruntRecipe.desc}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
