<!-- start header -->
<img class="header_img" src="../../assets/image/food image.jpg" alt="header">

<nav class="navbar navbar-expand-lg navbar-light title-color">

  <a class="navbar-brand" href="#">
    <img src="../../assets/image/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    <strong> {{title}} </strong>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="addRecipe" routerLinkActive="active">Add Recipe</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="allRecipe" routerLinkActive="active">All Recipe</a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <img src="../../assets/image/logout.png" alt="Logout" title="Logout" (click)="onLogout()">
  </div>
</nav>

<!-- end header -->
