<div class="pt-2">
  <div class="form-inline my-2 my-lg-0 pt-3">
    <input class="form-control mr-sm-2" style="width: 89%;" [(ngModel)]="search" type="search" placeholder="Search"
      aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" style="width: 10%;" (click)="onSearch(search)"
      type="submit">Search</button>
  </div>
  <div class="row">
    <div *ngFor="let item of favouriteRecipe" class="col-4  pt-3">
      <div class="card btn-light">
        <h3 class="card-title text-center title-color p-1"><strong>{{item.name}}</strong></h3>
        <div class="pl-3 pr-3">
          <div>
            <img class="card-img-top" [src]="item.image" height="200px" width="100%" alt="image">
          </div>
          <div class="pt-2">
            <h3 class="text-center p-1"> <strong> {{item.chef}} </strong></h3>

            <h4 class="text-center p-1" [ngStyle]="{'background-color':item.type === 'non-veg' ? 'red' : 'green' }">
              <strong> {{item.type}}
              </strong>
            </h4>
            <p class="p-3 card-text" title="Description">{{item.desc}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
